*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: purple;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: rgb(209, 162, 209);
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;

}

.logo {
    font-size: 22px;
    color: rgb(82, 82, 39);
    text-decoration: none;
    font-weight: 600;
    margin-left: 10px;
}

.navbar {
    margin-right: 2rem;
}

.navbar a{
    font-size: 15px;
    color: rgb(63, 56, 48);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;

} 

.navbar a:hover {
    color: blue;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.gambar {
    margin-top: 350px;
    height: 500px;
    width: 500px;
    
}

.home-content {
    margin-left: 60%;
}

.home-content img {
    height: 30%;
    width: 30%;
    object-fit: cover;
    margin-left: 20px;
    box-shadow: 0 0 25px white;
    border-radius: 50%;
    

}

