/* Inline kotak */
.inline-container {
margin-bottom: 20px;
}
 .inline-box {
    display :inline;
    background-color: #ff5733;
    color: white;
    padding: 10px;
    margin: 5px;
}

/*.Block kotak */
.block-container {
    margin-bottom: 20px;
}
.block-box {
    display: black;
    background-color: beige;
    color: white;
    padding: 10px;
    margin: 5px;
}

/*Inline-block kotak */
.inline-container {
margin-bottom: 20px;
}

.inline-blocl-box {
    display: inline-block;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    margin:5px;
    width: 100px;
}