* {
    padding: 0;
}


nav {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    height: 80px;
    align-items: center;
    border: 2px solid black;
    height: 80px;
}

.logo {
    font-size: 100px;
}
